<div>
  <h1 style="color: darkslateblue; font-family: 'Baskerville Old Face';">Choose the restaurant</h1>
  <h2 *ngFor="let rest of restaurants" >
    <label>
      <input class="with-gap" name="group1" type="radio" (click)="station_id = rest.id"
             [checked]="rest.id === rest_id"/>
      <span style="color: cadetblue;">{{rest.name}}</span>
    </label>
  </h2>

  <button class="btn btn-success" [routerLink]="['/menu', rest_id]">Next</button>

  <button class="btn btn-success" routerLink="/" (click)="submitted=true">Main Page</button>

</div>
