<div>
  <h1 style="color: darkslateblue; font-family: 'Baskerville Old Face';">Choose the station</h1>
  <h2 *ngFor="let station of stations" >
    <label>
      <input class="with-gap" name="group1" type="radio" [value]="station.code" [(ngModel)]="station_id"/>
      <span style="color: cadetblue;">{{station.name}}</span>
    </label>
  </h2>

  <button class="btn btn-success" [routerLink]="['/restaurants', station_id]">Next</button>

  <button class="btn btn-success" routerLink="/" (click)="submitted=true">Main Page</button>

</div>

