<div [hidden]="submitted" class="container">
  <h1 style="color: darkslateblue; font-family: 'Baskerville Old Face';">Info of the train</h1>
  <form (ngSubmit)="onSubmit()" #trainForm="ngForm">
    <div class="form-group">
      <label for="departure_station">Departure Station</label>
      <input type="text" class="form-control" id="departure_station"
             required
             [(ngModel)]="model.departure_station" name="departure_station"
             #name="ngModel">
      <div [hidden]="name.valid || name.pristine"
           class="alert alert-danger">
        Departure Station is required
      </div>
    </div>

    <div class="form-group">
      <label for="arrival_station">Arrival Station</label>
      <input type="text" class="form-control" id="arrival_station"
             required
             [(ngModel)]="model.arrival_station" name="arrival_station"
             #name2="ngModel">
      <div [hidden]="name2.valid || name2.pristine"
           class="alert alert-danger">
        Arrival Station is required
      </div>
    </div>

    <div class="form-group">
      <label for="time_of_departure">Time of Departure</label>
      <input type="text" class="form-control" id="time_of_departure"
             required
             [(ngModel)]="model.time_of_departure" name="time_of_departure"
             #name3="ngModel">
      <div [hidden]="name3.valid || name3.pristine"
           class="alert alert-danger">
        Time of Departure is required
      </div>
    </div>

    <button type="submit" class="btn btn-success"
            [disabled]="!trainForm.form.valid">Submit</button>
    <button type="button" class="btn btn-default" (click)="newTrainInfo(); trainForm.reset()">New Train Info</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h2 style="color: darkslateblue; font-family: 'Baskerville Old Face';">You submitted the following:</h2>
  <div class="row">
    <div class="col-xs-3">Departure Station</div>
    <div class="col-xs-9">{{ model.departure_station }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Arrival Station</div>
    <div class="col-xs-9">{{ model.arrival_station }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Time of Departure</div>
    <div class="col-xs-9">{{ model.time_of_departure }}</div>
  </div>
  <br>
  <button class="btn btn-success" (click)="submitted=false">Edit</button>
  <h2 style="color: darkslateblue; font-family: 'Baskerville Old Face';">Choose the train:</h2>

  <div *ngFor="let train_ of trains" >
    <span style="font-size: medium; margin: 5px">{{train_.id}}  </span>
    <span style="font-size: medium; margin: 5px">{{train_.code}}  </span>
    <!-- TODO: remove this -->

    <button class="btn btn-success" [routerLink]="['/stations', train_.id]">{{train_.name}}</button>
    <br>
    <br>
  </div>
</div>



<div [hidden]="!chosen">

</div>
{{diagnostic}}
